.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  padding-left: 28px;
  padding-top: 20px;
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.themeswitcher {
  margin-right: 20px;
}

.collapseBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  // width: fit-content;
  height: 32px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.icon {
  margin-right: 20px;
  fill: var(--inverted-primary-color);
}

.link {
  opacity: 1;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }
  .themeswitcher {
    margin-right: 0;
  }
  .link {
    opacity: 0;
    width: 0;
    pointer-events: none;
  }
  .icon {
    margin-right: 0;
  }
}
