.app.light {
  --bg-color: rgb(212, 213, 213);
  --inverted-bg-color: rgb(34, 42, 57);

  --primary-color: rgb(68, 77, 143);
  --secondary-color: rgb(155, 164, 229);
  --inverted-primary-color: rgb(10, 125, 41);
  --inverted-secondary-color: rgb(24, 164, 61);
}
